<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompteServlet</servlet-name>
        <servlet-class>servlet.CompteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperationServlet</servlet-name>
        <servlet-class>servlet.OperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetraitServlet</servlet-name>
        <servlet-class>servlet.RetraitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoldeServlet</servlet-name>
        <servlet-class>servlet.SoldeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransfertServlet</servlet-name>
        <servlet-class>servlet.TransfertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VersementServlet</servlet-name>
        <servlet-class>servlet.VersementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCompteServlet</servlet-name>
        <servlet-class>servlet.InfoCompteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompteServlet</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperationServlet</servlet-name>
        <url-pattern>/Operation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetraitServlet</servlet-name>
        <url-pattern>/Retrait</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoldeServlet</servlet-name>
        <url-pattern>/Solde</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransfertServlet</servlet-name>
        <url-pattern>/Transfert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VersementServlet</servlet-name>
        <url-pattern>/Versement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCompteServlet</servlet-name>
        <url-pattern>/InfoCompte</url-pattern>
    </servlet-mapping>
</web-app>
